* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    font-family: 'Lato', sans-serif;
}

.container {
    width: 1140px;
    margin: 0 auto;
}

.row {
    display: flex;
    flex-wrap: wrap;
}

.col-6 {
    width: 50%;
    padding: 0 15px;
}

.col-4 {
    width: 33.3%;
    padding: 0 15px;
}

.col-3 {
    width: 25%;
    padding: 0 15px;
}

header {
    position: absolute;
    width: 100%;
    top: 30px;

}

.header-block {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.header-logo {
    display: flex;
    align-items: center;
}

.header-title {
    font-weight: 700;
    font-size: 18px;
    line-height: 22px;
    color: white;
    margin-left: 10px;
    text-transform: uppercase;

}

.header-link {
    font-weight: 500;
    font-size: 14px;
    line-height: 17px;
    text-decoration: none;
    color: white;
    text-transform: uppercase;
    margin-right: 10px;
}

.header-btn {
    padding: 17px 52px;
    background: transparent;
    color: white;
    border-radius: 6px;
    border: 1px solid white;
    font-weight: 600;
    font-size: 14px;
    line-height: 17px;
    text-transform: uppercase;
    margin-left: 20px;
}

.header-select {
    background: transparent;
    color: #bababa;
    border: none;
    outline: none;
}

.header-btn:hover {
    transition: 0.7s;
    background: white;
    color: red;
    cursor: pointer;
}

/*hero*/
.hero {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    text-align: center;
    background: url("../images/hero/Bg.png") top left/100% 100% no-repeat;
}

.hero-title {
    color: white;
    font-weight: 700;
    font-size: 72px;
    line-height: 86px;
}

.hero-text {
    color: white;
    font-weight: 500;
    font-size: 24px;
    line-height: 150%;
    margin: 20px 0;
}

.hero-btn {
    padding: 17px 52px;
    background: transparent;
    color: white;
    border-radius: 6px;
    border: 1px solid white;
    font-weight: 600;
    font-size: 14px;
    line-height: 17px;
    text-transform: uppercase;
}

.hero-btn:hover {
    transition: 0.7s;
    background: white;
    color: red;
    cursor: pointer;
}

/*hero*/

/*video*/

.video {
    padding: 95px 0;
}

.video-text1 {
    font-weight: 600;
    font-size: 36px;
    line-height: 43px;
}

.video-text2 {
    font-size: 14px;
    font-weight: 400;
    line-height: 140%;
    margin: 20px 0;
}

.video-btn {
    font-weight: 400;
    font-size: 14px;
    line-height: 140%;
    color: red;
    text-decoration: none;
}

.video-item-2 {
    position: relative;
}

.video-play {
    width: 66px;
    height: 66px;
    background-color: #ED4C5C;
    border-radius: 50%;
    position: absolute;
    top: 50%;
    transform: translate(-50%, -50%);
    display: flex;
    justify-content: center;
    align-items: center;
}

/*video*/


/*features*/

.features {
    padding: 63px 0 124px;
    background-color: #FAFAFA;
}

.features-title {
    text-align: center;
}

.features-item {
    position: relative;
}

.features-subtitle {
    font-weight: 700;
    font-size: 18px;
    line-height: 22px;
}

.features-text {
    font-weight: 400;
    font-size: 12px;
    line-height: 150%;
    margin: 20px 0;
}

.features-link {
    text-decoration: none;
    font-weight: 700;
    font-size: 12px;
    line-height: 150%;
    color: #ED4C5C;
}

.features-content {
    width: 293px;
    padding: 33px;
    background-color: white;
    text-align: center;
    box-shadow: 0 5px 30px rgba(0, 0, 0, 0.1);
    border-radius: 8px;
    position: absolute;
    left: 50%;
    transform: translate(-50%, -50%);
}

/*features*/

/*technology*/
.technology {
    padding: 63px 0 108px;
}

.tech-title {
    text-align: center;
    font-weight: 600;
    font-size: 36px;
    line-height: 43px;
}

.tech-number {
    font-weight: 700;
    font-size: 100px;
    line-height: 120px;
    color: rgba(16, 16, 16, 0.08);
}

.tech-subtitle {
    font-weight: 700;
    font-size: 18px;
    line-height: 22px;
    margin: 19px 0;
}

.tech-title {
    margin-bottom: 52px;
    font-weight: 600;
    font-size: 36px;
    line-height: 43px;
}

.tech-text {
    font-weight: 400;
    font-size: 12px;
    line-height: 14px;
}

.tech-item {
    text-align: center;
}

.tech-block {
    position: relative;
}

.tech-img-1 {
    position: absolute;
    bottom: -50%;
    transform: translate(-50%, -50%);
    left: 130px;
}

.tech-img-2 {
    position: absolute;
    bottom: -40%;
    transform: translate(-50%, -50%);
    left: 130px;
}

.tech-img-3 {
    position: absolute;
    bottom: -30%;
    transform: translate(-50%, -50%);
    left: 130px;
}

.tech-img-4 {
    position: absolute;
    bottom: -30%;
    transform: translate(-50%, -50%);
    left: 130px;
}

/*technology*/

/*slider*/
.slider {
    padding: 95px 0;
    background-color: #ED4C5C;
}

.slider-title {
    color: white;
    font-weight: 600;
    font-size: 36px;
    line-height: 43px;
}

.slider-text {
    color: white;
    font-weight: 400;
    font-size: 14px;
    line-height: 140%;
    margin: 30px 0;
}

.slider-icon {
    text-decoration: none;
    margin-right: 25px;
}

/*slider*/

/*contact*/

.contact {
    padding: 117px 0 123px;
}

.contact-form {
    width: 540px;
}

.contact-block {
    margin-bottom: 24px;
}

.contact-first {
    margin-right: 25px;

}

.contact-input {
    width: 255px;
    padding: 20px 30px;
    border: 1px solid #333333;
    border-radius: 6px;
    outline: none;
}

.contact-basic {
    width: 100%;
    padding: 20px 30px;
    border: 1px solid #333333;
    border-radius: 6px;
    outline: none;
}

.contact-btn {
    background-color: #ED4C5C;
    color: white;
    cursor: pointer;
    text-transform: uppercase;
    border: 1.5px solid #ED4C5C;
    border-radius: 6px;
    font-weight: 400;
    font-size: 14px;
    line-height: 17px;
    padding: 16px 34px;
    transition: 0.6s;
}

.contact-btn:hover {
    background-color: red;
    transition: 0.6s;
}

.contact-title {
    font-weight: 600;
    font-size: 36px;
    line-height: 43px;
    margin: 0 0 66px;
}

.contact-text {
    font-weight: 400;
    font-size: 14px;
    line-height: 140%;

}

/*contact*/

/*footer*/
footer {
    padding: 85px 0;
    background-color: #FAFAFA;
}

.footer-subtitle {
    margin-bottom: 33px;
    font-weight: 700;
    font-size: 18px;
    line-height: 22px;
}

.footer-text {
    font-weight: 400;
    font-size: 12px;
    line-height: 150%;
}

.footer-ul {
    list-style: none;
}

.footer-li {
    margin-bottom: 4px;
    font-weight: 400;
    font-size: 12px;
    line-height: 160%;
}

.footer-link {
    display: inline-block;
    margin-bottom: 5px;
    text-decoration: none;
    color: #101010;
}

.footer-icons {
    list-style: none;
    display: flex;
    column-gap: 15px;
}

/*footer*/